html,
body {
  height: auto;
}

body {
  background: linear-gradient(to bottom, #764a8e, #3b1554);
  margin: 0;
  margin-bottom: 20%;
  overflow: scroll;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

label {
  color: whitesmoke;
}

/* Style the welcome message */
.welcome {
  text-align: center;
  margin-top: 120px;
}

.login,
.signup {
  margin: auto;
  margin-top: 100px;
  width: 60%;
  height: 80%;
  display: flex;
  background-size: cover;
}

.login .btn,
.signup>.btn {
  margin-top: 7px;
  background-color: #1d052d !important;
  border: 2px solid #3b1554;
}

.link a {
  text-align: center;
  color: #e1b5f6b3;
}

.home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}

.login .link,
.signup .link {
  margin-top: 90px;
  text-align: center;
}

.home .welcome {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: none;
}

.card {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  /* font-size: 18px; */
}

.card:hover {
  transform: none !important;
}

.home .card-body {
  padding: 20px !important;
  display: inline-flex;
  justify-content: center;
}

.card-footer {
  justify-content: center;
  text-align: center;
  color: white;
}

.addButton,
.prolistButton,
.projectButton>button {
  padding: 15px 30px !important;
  font-size: 24px !important;
  border: none;
  gap: 40px;
  width: 90px;
  height: 90px;
  transition: border 0.3s ease;
}

.projectButton>button.dropdown-toggle {
  background-color: #271437 !important;

}

.projectButton>button.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}

.projectButton .dropdown-menu {
  overflow-y: scroll;
  height: 200px;
}

/* Vertically center the button content */
.addButton, .prolistButton, .projectButton>button  {
  background-color: #271437 !important;
}

.addButton:hover, .prolistButton:hover, .projectButton>button:hover {
  background: linear-gradient(to right, #271437, #271437ae) !important;
}

/* Navbar */
.navbar {
  background-color: #1d052d;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

/* Style the logo */
.navbar h4 {
  color: #ffffff;
  /* White text */
  margin: 0;
}

.loginlink {
  text-align: center;
}

.dropdown-menu {
  border: 2px solid #7c38a9af;
}

/* Style the dropdown toggle */
.dropdownToggle {
  color: #ffffff;
  /* White text */
  display: inline-block;
  background-color: transparent !important;
  border: none;
}

.dropdownToggle:hover {
  background-color: transparent !important;
}

.dropdownToggle::after {
  display: none !important;
  background-color: transparent !important;
}

/* Style the dropdown menu */
.menu {
  background-color: #3b1554;
  /* Dark purple background */
}

.navbar .nav-items {
  padding: 0;
  margin-right: 30px;
  display: flex;
}

.menu .menuItem1,
.menu .menuItem2 {
  color: #ffffff;
  /* White text */
  padding: 10px;
}

/* Style the dropdown menu items on hover */
.menu .menuItem1>button:hover,
.menu .menuItem2:hover {
  background-color: #662d91 !important;
  cursor: pointer;
}


/* Style the login link */
.loginlink a {
  color: #ffffff;
  /* White text */
  text-decoration: none;
}

/* Style the logout button */
.logoutButton {
  color: #ffffff;
  /* White text */
}

.modal-sm,
.modal-md {
  --bs-modal-width: 800px;
}

.modalHeader,
.modal-content .modal-header {
  background-color: #80669d !important;
  /* Darker purple */
  color: #ffffff !important;
  /* White */
}

/* Style the modal title */
.modalTitle,
.modal-title {
  color: #ffffff !important;
  /* White */
}

/* Style the modal body */
.modalBody,
.modal-content .modal-body {
  background-color: #80669d !important;
  /* Dark purple */
  color: #ffffff !important;
  /* White */
}

/* Style the modal form */
.modalForm label {
  color: #ffffff !important;
  /* White */
}

.btn-dark {
  background-color: #AB47BC;
}

.reactstrap-confirm .modal-content .modal-body {
  background-color: #3b1554 !important;
}

.reactstrap-confirm .modal-content .modal-footer {
  background-color: #80669d !important;
}

/* Style the modal footer */
.modalFooter {
  background-color: #3b1554 !important;
  display: inline-flex;
  width: 100%;
  float: inline-end;
  gap: 10px;
}

/* Style the modal buttons */
.modalFooter button,
.modal-content .modal-footer {
  color: #ffffff !important;
  /* White */
}

/* Override the primary button color */
.modalFooter .btn-primary {
  background-color: #9566b8 !important;
  border-color: #9566b8 !important;
}

/* Override the primary button color on hover */
.modalFooter .btn-primary:hover {
  background-color: #7c47a0 !important;
  /* Medium purple */
  border-color: #7c47a0 !important;
  /* Medium purple */
}

/* Override the secondary button color */
.modalFooter .btn-secondary {
  background-color: #ffffff !important;
  /* White */
  border-color: #ffffff !important;
  /* White */
  color: #3b1554 !important;
  /* Darker purple */
}

/* Override the secondary button color on hover */
.modalFooter .btn-secondary:hover {
  background-color: #f8f9fa !important;
  /* Light gray */
  border-color: #f8f9fa !important;
  /* Light gray */
  color: #3b1554 !important;
  /* Darker purple */
}

.modal-content .modal-header {}

.form-group {
  margin-bottom: 30px;
}

.projectlist {
  background-color: #333 !important;
}

th,
td {
  text-align: center;
  align-content: center;
  padding: 10px;
  /* background-color: #333 !important; */
}

tr {
  height: 70px
}

.details {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

/* Header styling */
.header {
  margin-top: -15px;
  margin-bottom: 70px;
}

input[type="text"] {
  background-color: transparent !important;
  border: none;
  color: white;
}

input[type="text"] {
  border-bottom: 1px solid whitesmoke;
}

select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  border-radius: 0.375rem;
}

/* Gist section styling */
.details .gist,
.projectId {
  margin: 10px 0px 50px 0px;
  color: rgb(243, 229, 254);
}

.gist {
  width: auto;
  height: auto;
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(229, 211, 244, 0.479);
}

.gist a {
  text-decoration: wavy;
  color: rgba(241, 234, 234, 0.977) !important;
}

.gist a:hover {
  color: white !important;
}

.projectTitles {
  color: black;
  text-decoration: none;
}

/* Todos section styling */
.todolist {
  margin-bottom: 20px;
}

/* Add icon button styling */
.addIcon {
  margin-top: -10px;
  background-color: green;
  border: none;
}

.addIcon:hover, .addIcon:active {
  background-color: darkgreen !important;
}

.details .projectActions {
  width: 80%;
  gap: 10px;
  text-align: center;
}

.details .createGist,
.details .editIcon {
  background-color: #1d052d;
  padding: auto;
  margin: auto;
  border-radius: 3px;
  color: white;
  width: 10px;
}

.tableEditIcon {
  color: green;
}

.tableDeleteIcon {
  color: red;
}

.details .editIcon {
  color: lightseagreen;
}

.details .createGist {
  text-align: left;
  color: blue;
}

.details .deleteIcon {
  background-color: red;
}

/* Table styling */
.modalBody .table {
  width: 100%;
  overflow-y: auto;
  max-height: 120px;
}

/* .table {
  overflow-y: auto;
  max-height: 90px;
} */

/* Table header styling */
.table thead th {
  background-color: #343a40;
  /* Dark background color */
  color: #fff;
  /* Light text color */
}

/* Table row styling */
.table tbody tr {
  border-bottom: 1px solid #dee2e6;
  /* Light border color */
}

/* Table cell styling */
.table td {
  vertical-align: middle;
  /* Center cell content vertically */
}

/* Edit and delete icons styling */
.table .fas {
  cursor: pointer;
  margin-right: 10px;
}

h3 {
  color: whitesmoke;
}

/* Save button styling */
.submitButton .btn-primary {
  margin-top: 50px;
  background-color: #1d052d;
  border: none;
}

.submitButton .btn-primary:active {
  background-color: #271437;
}